body{
    background-image: url('./discs/fondo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#showCantDiscs, span{
    color: white;
    margin: 15px;
    font-family: 'Luckiest Guy', cursive;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 50px;
    text-shadow: 5px 5px 2px rgb(61, 61, 61);
    display: flex;
    justify-content: center;
}
canvas#canvas{
    margin:  0 auto;
    display: flex;
}
#discsList img{
    width: 60px;
    height: 60px;
    margin: 10px 15px;
}
#discsList{
    display: flex;
    justify-content: center;
    align-items: center;
}
#discsList p{
    color: white;
    font-family: 'Luckiest Guy', cursive;
    font-size: 18px;
    text-shadow: 2px 2px 2px rgb(61, 61, 61);
}
input {
    background: white;
    margin: 15px;
    display: flex;
    align-content: center;
    
}
.borderP1{
    border: 3px solid #00A800;
    border-radius: 50%;
}
.borderP2{
    border: 3px solid #2A66D4;
    border-radius: 50%;
}
#startGame{
    color: white;
    font-size: 14px;
    text-shadow: 2px 2px 2px rgb(32, 32, 32);
    font-family: 'Luckiest Guy', cursive;
    width: 130px;
    height: 40px;
    background-color: #00A800;
    border-radius: 20px;
}
#range{
    margin: 20px auto;
    width: 270px;
    background-color: #00A800;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}
#range p{
    color: white;
    text-shadow: 2px 2px 2px rgb(32, 32, 32);
    font-size: 14px;
    font-family: 'Luckiest Guy', cursive;
}
footer{
    width: 300px;
    padding: 5px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: #CF510C;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
footer p{
    margin:2px;
    font-size: 14px;
}
#startGame{
    display:none;
}
#startGame.show{
    display:block; /* P.S: Use `!important` if missing `#content` (selector specificity). */
}
span{
    font-size: 35px;
}